/*--Header St--*/
body{
    padding: 0;
    margin: 0;
    background-color: gainsboro;
    box-sizing: border-box;
}
.logo img{
    width: 200px;
    height: 200px;
    padding: 20px;
    margin-left: 200px;
}
header{
    width: 100%;
    background-color: black;
    display: flex;
}
.navbar{
    color: white;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left: 6.5%;
    line-height: 40px;
}
.navbar ul {
    list-style: none;
}
.navbar ul li{
    background-color: rgb(89, 94, 97);
    border: 2px solid;
    font-size: 30px;
    padding: 16px;
    text-align: center;
    float: left;
    width: 200px;
    height: 40px;
    text-transform: uppercase;
}
.navbar ul li a{
    color: #ffffff;
    text-decoration: none;
}
.navbar ul li:hover{
    background-color: yellow;
    transition: .2s;
}
.navbar ul li a:hover{
    color: red;
}
.navbar ul ul{
    display: none;
}
.navbar ul li:hover > ul{
    display: block;
    margin-top: 20px;
}
.navbar ul li ul:hover > li{
    color: green;
    border: white 2px solid;
}
/*--Header End--*/
/*--Footer St--*/
footer{
    background-color: rgb(26, 26, 26);
    margin-top: 40%;
    position: absolute;
    width: 100%;
}
.p1{
    color: #ffffff;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -5px;
}
.p2{
    width: 800px;
    margin-left: 27%;
    margin-top: -30px;
}
.icons{
    font-size: 40px;
    word-spacing: 10px;
    padding: 10px;
    margin-top: -10px;
}
.p3{
    background-color: black;
    padding: 10px;
    font-size: 25px;
}
/*--Footer End--*/
